Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore

@ordinCode
ordinCode
/
blog-codes
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
blog-codes/.gitignore
@ordinCode
ordinCode init
Latest commit 2139091 on 13 Aug 2020
 History
 1 contributor
34 lines (30 sloc)  397 Bytes
IntelliJ IDEA
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete Octotree
 Login with GitHub
